A:link {
	COLOR: #C6E7FF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #66ccFF; TEXT-DECORATION: none
}
A:active {
	COLOR: #006699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff;
}


a.a2:link,a.a2:visited{color:#fff; text-decoration:none;} 

	
body {
	font-family:"微软雅黑","幼圆", "楷体", "隶书", "华文隶书", "黑体",  "华文行楷";		
	background-color: #000000;
	background-attachment: fixed;
	background-clip: border-box;
	background-origin: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	text-align:center;
}


TD,TH {
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	
}


 
input{
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	background-color: transparent;
	font-weight: bold;
	font-size: large;
	padding:4px;
	color:#FFFFFF;
}

.flip-container {
	perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 110px;
	height: 110px;
	position: absolute;
	top: 13px;
	left: 35px;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

audio {
	filter: alpha(opacity=40); /*IE滤镜，透明度50%*/
	-moz-opacity: 0.4; /*Firefox私有，透明度50%*/
	opacity: 0.4;/*其他，透明度50%*/
}
/*navigation*/
.navigation ul{list-style-type:none;}
.navigation li{
	float: right;	
	display:block;width:166px;
	margin-top:65px;
}

.astyle
{   display:block;width:166px;height:75px;
     text-align:center; 
	 color: #FFFFFF; }
.astyle:hover{
	background:url(image/bar.png);
}


table{
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	overflow: hidden;

}
table A:hover {
	COLOR: #99BEFF;
}
.a
{
	font-family:"幼圆", "楷体", "隶书", "华文隶书", "黑体", "微软雅黑", "华文行楷";
	font-size:14px;
    font-weight:bold;	
	
}

textarea{
    background: rgba(0, 0, 0, 0.4) scroll 16px 16px; 
    width: 100%;
    height: 100px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    color:#fff;
	padding: 5px;
    overflow:auto;
   
}

.buttonstyle
{
	text-align:center; font-size:small;border: 1px solid rgba(255,255,255,.4); color:#FFFFFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/*.selectinfo
{
	background-color:black;
	opacity:0.5;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	color: #FFFFFF;
	font-weight: bold;
	font-size:medium;
	padding:5px;
}*/
.titlehead {
	margin-top: 75px;
	opacity: 0.9;
}

.content {

	position: relative;
margin-left: auto;
	margin-right: auto;
width: 1000px;
	
	padding: 25px;
	border: 1px solid rgba(0,0,0,.2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	box-shadow: 0 0 13px 3px rgba(0,0,0,.5);

}
