.table > thead > tr,
.table > tbody > tr{
	border-color: #000;
	border-top:2px solid rgba(255,255,255,0.1);
	background-color: rgba(0,0,0,0.5);
}
.table-hover > tbody > tr:hover {
/*  background-color: rgba(0,0,0,0.7);*/
/*  color: #000;
  font-weight: bold; 
  font-size: medium;
  background-color: rgba(255,255,255,0.9);*/
  background-color: rgba(0,0,0,0.8);
}