/* background */
$navbar-color : rgba(250, 250, 250, 0.9);
$border-color : rgba(250, 250, 250, 0.3);
$footer-color : rgba(11, 11, 11, 0.7);

$bg-color: rgba(255, 255, 255, 0.9);
$shadow-color:  rgba(9, 28, 38, 0.4);
$font-color: #eee;

body {
  background: rgba(0,0,0,0.1) url( " /assets/img/pattern.jpg " ) center no-repeat;
  background-attachment:fixed;
  background-size:cover;
  font-family: 'Raleway','San Francisco','Microsoft YaHei';
}

hr {
  opacity: 0.4;
  margin: 2px;
  background-color: #000;
}

.box-shadow{
  box-shadow:0px 0px 10px $shadow-color;
}

/*overload*/
.list-group{
	margin: 0px;
}

/* scrollbar*/

::-webkit-scrollbar-track-piece{background:rgba(255, 255, 255, 0.1);}
::-webkit-scrollbar{width:8px;background-color: rgba(255,255,255,0.1);}
::-webkit-scrollbar-thumb{background:rgba(100,100,100,0.8);border:1px solid $border-color;border-radius:10px;}

/* IE10+ 半透明自动隐藏的滚动条 */
@-ms-viewport {
  width: device-width;
}

/* layout */

.display-inline{
  display: inline-block;
}

.divider{
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid $border-color;
}

.m-b-10{
  margin-bottom: 10px;
}

.m-t-20{
  margin-top: 20px;
}

.m-t-30{
  margin-top: 30px;
}

/* navbar */
.navbar-default{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(250, 250, 250, 0.9)), color-stop(100%,rgba(250, 250, 250, 0.7)));
  box-shadow: 0px 0px 10px $shadow-color;
}

/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  // border-top: 1px solid $border-color;
  background-color: $footer-color;
  color: $font-color;
  a {
    color: #eee;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  a:visited{
    color: $font-color;
  }

  small {
    float: left;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0 10px;
    }
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }

  .slogon {
    font-size: 13px;
    font-weight: bold;
  }

}

.copyright{
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ddd;
}

/* panel */

.panel {
  margin-bottom: 10px;
  padding:10px;
  box-shadow: 0px 0px 50px $shadow-color;
  background-color: $bg-color;
}

.jumbotron{
  background-color: $bg-color;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 70px;
  }
  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
  }
}

.gravatar {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 50px;
  border-radius: 50%;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 33%;
    border-left: 1px solid $shadow-color;
    color: gray;
    &:first-child {
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #337ab7;
    }
  }
  strong {
    display: block;
    font-size: 1.2em;
    color: black;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

//valhalla
.valhalla{
  a{
    text-decoration: none;
  }
}

.list-inline {
  li {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 2px 6px;
    margin-left: 6px;
    font-size: 0.9em;
    color: #606060;
    margin-top: 8px;
  }
  li:hover {
    background-color: #007db5;
    color: #ffffff;
    border: 1px solid #42fff9;
    a{
      color: #fff;
    }
  }
}

//article
.article-info{
  border-left: 1px rgba(66,66,66,0.3) solid;
}